.git
.gitignore
.vs
.vscode
bin
obj
**/bin
**/obj
logs
*.log
logs-api-*.txt
*.user
*.md
docs
scripts
docker-compose.yml
SubiteAPI.http
appsettings.Development.json
appsettings.Production.json
firebase-credentials.json
