POSTGRES_USER=subite
POSTGRES_PASSWORD=cambia-esta-password-larga
POSTGRES_DB=subite_db

Jwt__Key=cambia-esta-clave-jwt-de-al-menos-32-caracteres
Jwt__Issuer=SubiteAPI
Jwt__Audience=SubiteApp

Admin__Email=admin@subiteapp.com.ar
Admin__Password=cambia-el-password-admin
Admin__FullName=Administrador Subite

MercadoPago__AccessToken=
MercadoPago__ClientId=
MercadoPago__ClientSecret=
MercadoPago__UseSandbox=true
MercadoPago__PaymentMode=wallet_only
MercadoPago__WebhookSecret=

Google__ClientId=
Apple__ClientId=com.subite.app

EnvialoSimple__Enabled=true
EnvialoSimple__ApiKey=
EnvialoSimple__FromName=Subite
EnvialoSimple__FromEmail=info@subiteapp.com.ar

Didit__ApiKey=
Didit__WorkflowId=
Didit__WebhookSecret=
Didit__CallbackUrl=subite://verification/callback
Didit__BaseUrl=https://verification.didit.me/v3

EnableSwagger=false
